<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Zalego Python,Django students">
    <title>{% block title %}dashboard{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- custom dashboard styles -->
    <link rel="stylesheet" href="{% static 'css/frontend-custom-style.css' %}">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
</head>

<body>
<!--  top navbar -->
{% include 'frontend/common/navbar.html' %}
<h2 class="text-center">My Courses</h2>
<div class="container">
    {% include 'sims_common_templates/messages.html' %}
    {% if mycourses %}
        <div class="row">
        {% for course in mycourses %}
            <div class="col-md-4">
                <div class="card text-dark">
                    <img src="{% static 'images/course-image.jpg' %}" alt="" class="card-img-top">
                    <div class="card">
                        <ul class="list-group">
                            <li class="list-group-item">Course Name : {{ course.course.Course_Name }}</li>
                            <li class="list-group-item">Course Duration : {{ course.course.Course_Duration }} days</li>
                            <li class="list-group-item">Course Fee : {{ course.course.Course_Fee }}</li>
                        </ul>
                    </div>

                </div>

            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No courses available</p>
    {% endif %}
    </div>
</div>
<footer>
    <div class="row">
        <div class="col text-center fixed-bottom">
            <p>Zalego Academy. All right rights reserved. &copy;2020 </p>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
