{% if courses.has_other_pages %}
        {% if courses.has_previous %}
                    <a class="btn btn-primary mb-4" href="?page=1">First</a>
                    <a class="btn btn-primary mb-4" href="?page={{ courses.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in courses.paginator.page_range %}
            {% if courses.number == num %}
                <a class="btn btn-success mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > courses.number|add:'-3' and  num < courses.number|add:'3' %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>

            {% endif %}
        {% endfor %}

        {% if courses.has_next %}
            <a class="btn btn-primary mb-4" href="?page={{ courses.next_page_number }}">Next</a>
            <a class="btn btn-primary mb-4" href="?page={{ courses.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}